body {
  padding-top: 10px;
}
.name {
  padding: 10px 15px ;
  text-align: center;
  width: 400px;
  margin: 0 auto;

  }
h1 {
  font-family: Helvetica;
  font-weight: 300;

  }
.nav {
  list-style-type: none;
  width: 900px;
  margin: 20px auto;
  text-align: center;

  }

li {
  display: inline-block;

  }

li a {
  padding: 0 20px;
  color: #B7B7B7;
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica;
  }

li a:hover {
  color: #111;
  }

.active {
  color: black;
}



div.frame {
  text-align: center;
  margin-top: 80px;
  
}

div.pic img{
  width:350px;
}

div.intro {
  margin-top: 30px;
  font-family: Helvetica;
  
}

div.me {
  font-size: 23px;
}
div.title {
  margin-top: 25px;
  color: rgb(102, 102, 102)
}

div.experience {
  text-align: center;
  margin-top: 80px;
}

div.experience img {
  width:900px;
}

div.work {
  text-align: center;
  margin-top: 50px;
  font-family: Helvetica;
}

div.aboutwork {
  font-size: 23px;
  font-family: Helvetica;
}



div.details {
  margin-top: 28px;
  color: rgb(102, 102, 102)
  
}








































.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   color: grey;
   text-align: center;
   padding-top: 50px;
   font-size: 12px;
   font-family: Helvetica;
   margin-top: 180px;
}
