body {
  padding-top: 10px;
}
.name {
  padding: 10px 15px ;
  text-align: center;
  width: 400px;
  margin: 0 auto;

  }
h1 {
  font-family: Helvetica;
  font-weight: 300;

  }
.nav {
  list-style-type: none;
  width: 900px;
  margin: 20px auto;
  text-align: center;

  }

li {
  display: inline-block;

  }

li a {
  padding: 0 20px;
  color: #B7B7B7;
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica;
  }

li a:hover {
  color: #111;
  }

.active {
  color: black;
}


div.header {
  text-align: center;
}


div.header img {
  width: 100%;
  margin-top: 16px;
}


div.title h1 {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 300;
  margin-top: 60px;
  text-align: center;
}


div.flowchart {
  margin-top: 50px;
}

div.flowchart p{
  font-family: Helvetica;
  font-size: 20px;
}

div.flowchart img {
  width: 100%;
}

div.twopics {
  margin: 50px 20px;
}


div.twopics img {
  width: 100%;
  
}
div.demo {
  margin-top: 10px
}


div.demo img {
  width: 350px;
}

div.buttons {
  margin-top: 100px;
}

.back {
  font-family: Helvetica;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 9px 57px;
  background-color: white;
  border: 0.7px solid darkgrey;
  }

  .back:hover {
    background: rgb(238, 238, 238);
    border: 0.7px solid black;
}  

  div.states_signIn {
    margin-top: 60px;
  }

  div.states_signIn img {
    width: 100%;
    margin-top: 30px;
  }

  div.states_signIn p {
  font-family: Helvetica;
  font-size: 20px;
  }

  div.states_signUp {
    margin-top: 60px;
  }

  div.states_signUp img {
    width: 100%;
    margin-top: 30px;
  }

  div.states_signUp p {
  font-family: Helvetica;
  font-size: 20px;
  }















.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   color: grey;
   text-align: center;
   padding-top: 50px;
   font-size: 12px;
   font-family: Helvetica;
}
