body {
    padding-top: 10px;
  }
  .name {
    padding: 10px 15px ;
    text-align: center;
    width: 400px;
    margin: 0 auto;
  
    }
  h1 {
    font-family: Helvetica;
    font-weight: 300;
  
    }
  .nav {
    list-style-type: none;
    width: 900px;
    margin: 20px auto;
    text-align: center;
  
    }
  
  li {
    display: inline-block;
  
    }
  
  li a {
    padding: 0 20px;
    color: #B7B7B7;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;
    }
  
  li a:hover {
    color: #111;
    }

  .active {
    color: black;
  }
  

    #subnav {
        text-align: center;
    }
    
    div.buttons {
        text-align: center;
        margin: 18px 16px;
        display: inline-block;
            
    }
    
    .back {
        font-family: Helvetica;
        font-size: 15px;
        text-decoration: none;
        color: black;
        padding: 9px 57px;
        background-color: white;
        border: 0.7px solid darkgrey;
            
        }
    
    div.fix {
        font-family: Helvetica;
        font-size: 15px;
        color: black;
        padding: 9px 22px;
        background-color: rgb(238, 238, 238);
        border: 0.7px solid black;
    }
      
    .back:hover {
        background: rgb(238, 238, 238);
        border: 0.7px solid black;
    }  



    div.WeiboGallery {
        margin-top: 20px;
      }
      
      div.weibo {
        display: inline-block;
        margin: 12px 9px;
        padding: 20px 10px;
        border: 1px solid #ccc;
      }
      
      div.weibo img {
        width: 297px;
        height: 253px;
      
      }
      
      div.desc {
        padding: 10px;
        text-align: center;
        margin-top: 10px;
        font-family: Helvetica;
        font-size: 13px;
      }
      
      div.weibo:hover {
        border: 1px solid rgb(122, 122, 122);
      }


































.footer {
    position: relative;
    width: 100%;
    height: 60px;
    color: grey;
    text-align: center;
    font-size: 12px;
    font-family: Helvetica;
    margin-top:  140px;
 }